<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>BWFUIFramework</title>
		<link rel="stylesheet" href="${rc.contextPath}/css/bootstrap.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/css/animate.min.css" />
		<script type="text/javascript" src="${rc.contextPath}/js/jquery.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/js/wow.js" ></script>
		<link rel="stylesheet" href="${rc.contextPath}/css/global.css" />
		<script type="text/javascript" src="${rc.contextPath}/js/global.js" ></script>
	</head>
	<body>
		
			<div class="panel panel-default">
				<div class="panel-heading">
					公文管理
				</div>
				<div class="panel-body">
					<form action="${rc.contextPath}/affair/add" method="get" role="form" class="form-inline">
					
					<div class="panel panel-default panel-tab">
						
						<div class="panel-heading panel-tab-head" style="background-color: transparent; ">
							<div class="btn-group col-md-6" data-toggle="buttons">
								<label type="button" class="btn btn-primary active btn-tab"><input type="radio"/>发起的公文</label>
								<label type="button" class="btn btn-primary btn-tab"><input type="radio"/>待审批的公文</label>
							</div>
							
							<div class="col-md-6 text-right">
								<input type="submit" class="btn btn-success" value="新增"/>
								<select name="affairModuleId" class="form-control">
									<#list affairModules as affairModule>
										<option value="${affairModule.affairModuleId}">${affairModule.affairModuleName}</option>
									</#list>
								</select>
							</div>
						</div>
						
						
						<!-- 我发起的公文 -->
						<div class="panel-body panel-tab-body">
							<hr/>
						
							<table class="table table-bordered table-condensed table-hover table-responsive cbx-group">
							<thead>
								<tr>
								<th class="td-checkbox"><input type="checkbox" class="cbx-all"/></th>
								<th>公文编号</th>
								<th>公文类型</th>
								<th>发起人</th>
								<th>公文状态</th>					
								<th>操作选项</th>
								</tr>
							</thead>
							<tbody>
							
								<#list affairByMe as affair1>
								<tr align="center">
									<td align="center" class="td-checkbox"><input type="checkbox" name="id"/></td>
									<td>${affair1.affairId}</td>
									<td>${affair1.affairModule.affairModuleName}</td>
									<td>${affair1.proposer.nickname}</td>
									<td>
										<!-- 公文的审批状态 -->
										<#if affair1.affairStatus=0>
											<span class="label label-default">审批中</span>
										<#elseif affair1.affairStatus=1>
											<span class="label label-success">审批通过</span>
										<#elseif affair1.affairStatus=2>
											<span class="label label-danger">审批驳回</span>		
										</#if>
									</td>
									
									<td width="120px">
										<span class="btn-group btn-group-xs" >
											<button onclick="location.href='${rc.contextPath}/affair/detail/${affair1.affairId}';" type="button" class="btn btn-default">查看</button>
										</span>
									</td>
								</tr>								
								</#list>
								
							</tbody>
							<tfoot>
								
							</tfoot>
						</table>

						</div>
						<!-- /我发起的公文 -->						
						
						<!-- 待审批的公文 -->
						<div class="panel-body panel-tab-body">
							<hr/>
						
							<table class="table table-bordered table-condensed table-hover table-responsive cbx-group">
							<thead>
								<tr>
								<th class="td-checkbox"><input type="checkbox" class="cbx-all"/></th>
								<th>公文编号</th>
								<th>公文类型</th>
								<th>发起人</th>
								<th>公文状态</th>					
								<th>操作选项</th>
								</tr>
							</thead>
							<tbody>
							
								<#list affairToBePropose as affair2>
								<tr align="center">
									<td align="center" class="td-checkbox"><input type="checkbox" name="id"/></td>
									<td>${affair2.affairId}</td>
									<td>${affair2.affairModule.affairModuleName}</td>
									<td>${affair2.proposer.nickname}</td>
									<td>
										<!-- 公文的审批状态 -->
										<#if affair2.affairStatus=0>
											<span class="label label-default">审批中</span>
										<#elseif affair2.affairStatus=1>
											<span class="label label-success">审批通过</span>
										<#elseif affair2.affairStatus=2>
											<span class="label label-danger">审批驳回</span>		
										</#if>
									</td>
									
									<td width="120px">
										<span class="btn-group btn-group-xs" >
											<button onclick="location.href='${rc.contextPath}/affair/propose/${affair2.affairId}';" type="button" class="btn btn-primary">审批</button>
										</span>
									</td>
								</tr>								
								</#list>
								
							</tbody>
							<tfoot>
								
							</tfoot>
						</table>

						</div>
						<!-- /待审批的公文 -->
						
						<div class="panel-footer panel-tab-footer">
							<button type="submit" class="btn btn-danger"> 提交表单 </button>
						</div>
						
					</div>
					
					</form>
				</div>
			</div>
			

		<div style="height: 80px;"></div>
	</body>
</html>

